@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;


:root {
  --black: rgba(42, 42, 42, 1);
  --diaryauthcover-2: rgba(235, 220, 203, 1);
  --diarypage: rgba(249, 249, 249, 1);
}

@layer base {
  :root {
    /* Primary Colors */
    --primary-background: #f9f9f9;
    --primary-foreground: #2a2a2a;
    
    /* Secondary Colors */
    --secondary-background: #c3dee1;
    --secondary-foreground: #000000;
    
    /* Accent Colors */
    --accent-color: #92c9cf;
    --accent-foreground: #ffffff;
    
    /* Background Colors */
    --page-background: #ebdccb;
    
    /* Border Colors */
    --border-primary: #2a2a2a;
    --border-secondary: #92c9cf;

    /* Home Page */
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }  

  .triangle {
    position: absolute;
    top: -18px;
    right: 12px;
    width: 32px;
    height: 20px;
    background-color: #c3dee1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-top-left-radius: 8px; /* добавляем скругление */
    border-top-right-radius: 8px;
  }
}



@layer utilities {
  /* Background Color Utilities */
  .bg-primary {
    background-color: var(--primary-background);
  }
  
  .bg-secondary {
    background-color: var(--secondary-background);
  }
  
  .bg-accent {
    background-color: var(--accent-color);
  }
  
  .bg-page {
    background-color: var(--page-background);
  }
  
  /* Text Color Utilities */
  .text-primary {
    color: var(--primary-foreground);
  }
  
  .text-secondary {
    color: var(--secondary-foreground);
  }
  
  .text-accent {
    color: var(--accent-foreground);
  }
  
  /* Border Color Utilities */
  .border-primary {
    border-color: var(--border-primary);
  }
  
  .border-secondary {
    border-color: var(--border-secondary);
  }
}